<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <title>Le resto</title>
    <link rel="stylesheet" href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='lib/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
  </head>
  <body ng-controller="RootController">
  <nav ng-class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brend" href="#!/">Le resto</a>              
          </div>
      </div>
  </nav>
<!--
  <div id="leftNav" ng-if="currentRoute.leftNav">
    <div ng-include="currentRoute.leftNav"></div>
  </div>
-->
  <div ng-view></div>  

  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="/lib/angular-ui-scroll/dist/ui-scroll.js"></script>
  <script type="text/javascript" src="/lib/angular-ui-scroll/dist/ui-scroll-jqlite.js"></script>
  <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="/lib/angular-loading-bar/build/loading-bar.min.js"></script>
  <script type="text/javascript" src="/lib/angular-local-storage/dist/angular-local-storage.js"></script>

  <script type="text/javascript" src="/meals/meals.client.module.js"></script>
  <script type="text/javascript" src="/meals/controllers/meals.client.controller.js"></script>
  <script type="text/javascript" src="/meals/services/meals.client.service.js"></script>
  <script type="text/javascript" src="/meals/config/meals.client.routes.js"></script>
  <script type="text/javascript" src="/root.controller.js"></script>

  <script type="text/javascript" src="/application.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
    	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
